
#container {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    position: fixed;
    margin-top: 0px;
    color: whitesmoke;
    margin-left: 30px;
    text-align: center;
    }
    
    #container>div{
    display: flex;
    background-color: white;
    gap: 30px;
    
    
    }
    
    .ssense{
    margin-top: 20px;
    font-size: 25px;
    font-family: sans-serif;
    color: black;
    font-weight: bold;
    
    } 
    a{
    text-decoration: none;
    color: black;
    }
    
    a:hover{
    text-decoration:underline;
    }
    