

.container{
    
   
       
  width:62%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
     
    
       
}


#form{
    
  
    width:70%;
    
}
.container input{
    width:200%;
    height:30px;
    padding:1px 0.7px;
    margin:1px;
    outline:none;
    
   
   
}
#right input:nth-child(6){

     width:100%;
}
#left input:nth-child(9){

    width:100%;
}
#right select{

    width:100%;
}
select{
    width:200%;
    height:37px;
    padding:1px 0.7px;
    margin:1px;
    outline:none;
    color:gray;
}
h5{
    text-align: center;
    color:black
    font-family=Arial, Helvetica, sans-serif ;
    margin-left: 50px;
}
#terms{
    width:260px;
    text-align: center;
   display:flex;
   justify-content:space-around;
   margin:auto;
   margin-bottom: 50px;
 

  

   
   flex-wrap: wrap;
}

#right1 input:nth-child(4){

    width:100%;
}
#right1 input:nth-child(2){

    width:100%;
}
h1{
    text-align: center;

}
#pay>img{
    height:25px;
    width:25px;
    margin-top:10px;
}

#container{
    height:400px;
    width:350px;
  
  
    position:relative; left:935px; top:-1150px; 
  padding-left: 30px;
  overflow-y: hidden;
  overflow-x: auto;
  overflow-y: scroll; 
  height: XXXpx;

    
  
}
img{
    height:150px;
    width:200px;
}
#box{
    height:100px;
}
#submit{
    width:500px;
    color:white;
    background-color: black;
    height:30px;
}

    













